<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Social Network {%endblock title%}</title>
    <link rel="stylesheet" href="/public/style.css">
    </head>
<body>

<h1> {%block header%} Welcome to super Social Network {%endblock header%}</h1>  

{% block body %}
<form class="enter_block" action="/login" method=POST>
<p class="problem">{{message}} </p>
    <p>Login:</p>
        <input type="text" name="email" id="login" class="enter" placeholder="enter your login">
    <p>Password:</p>
        <input type="password" name="password" id="password" class="enter" placeholder="enter your password">
    <button type="submit" id="button"> Enter </button>

<a href="/register">Register</a>

</form>
{% endblock body %}
   
</body>
</html> 