{% extends "index.njk" %}

{%block title%}
    Register
{%endblock title%}

{%block header%}
    Let's join to us!
{%endblock header%} 

{% block body %}
     <form action="/register" method="POST">
     <div class="enter_blockReg">
        <div>
            <label for="name">Name</label>
            <input name="name" type="text" class="enteReg" placeholder="enter your name">
        </div>
        <div>
            <label for="surname">Surname</label>
            <input name="surname" type="text" class="enteReg" placeholder="enter your surname">
        </div>
        <div>
            <label for="email">Email</label>
            <input name="email" type="text" class="enteReg" placeholder="enter your email">
        </div>
        <div>
            <label for="username">Username</label>
            <input name="username" type="text" class="enteReg" placeholder="enter your username">
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" type="password" class="enteReg" placeholder="enter your password">
        </div>
        <div>
            <label for="repeat-password">Repeat Password</label>
            <input name="repeat-password" class="enteReg" type="password" placeholder="repeat your password">
        </div> 
        <button type="submit" id="button">REGISTER</button> </div>
    </form>
{%endblock%}