body{
    margin: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: pink;
    align-items: center;
    font-family:'Courier New', Courier, monospace ;
    
}

h1{
    text-align: center;
    color: rgb(252, 255, 49);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin: 0;
    padding: auto;
    font-size: 70px;
}

.problem{
    color: red;
    background-color: black;
    font-weight: bold;
}

.enter_block{
    border-radius: 50px;
    background-color: rgb(253, 242, 229);
    width: 35rem;
    height: 18rem;
    margin: 100px auto; /* центрирует блок по горизонтали */
    padding: 40px; /* убрано пробел */
    display: flex;
    flex-direction: column; /* змінено на column для вертикального розташування */
    justify-content: center; /* центрирует по вертикали */
    align-items: center; /* центрирует по горизонтали */
    gap: 20px; /* відступи між елементами */
    text-align: left;
    box-shadow: 10px 20px 22px rgb(87, 86, 86);
}

.enter_block input{
    padding-left: 10px;
}

.enter_blockReg input{
    padding-left: 10px;
}

.enter_blockReg{
    border-radius: 50px;
    background-color: rgb(253, 242, 229);
    width: 40rem;
    height: 28rem;
    margin: 100px auto; /* центрирует блок по горизонтали */
    padding: 40px; /* убрано пробел */
    display: flex;
    flex-direction: column; /* змінено на column для вертикального розташування */
    justify-content: center; /* центрирует по вертикали */
    align-items: center; /* центрирует по горизонтали */
    gap: 20px; /* відступи між елементами */
    text-align: left;
    box-shadow: 10px 20px 22px rgb(87, 86, 86);
}

p{
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#button{
    width: 90px;
    height: 40px;
    border-radius: 40px;
    background-color: palevioletred;
    color:aliceblue
}

.enter {
   height: 40px;
   width: 100 px;
   border-radius: 20px;
}

.enteReg  {
    height: 30px;
    width: 70 px;
    border-radius: 20px;
    margin: 4px;
}

.logout{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 28rem;
    background-color: antiquewhite;
    color: palevioletred;
    border-radius: 20px;
    font-weight: bold;

}