* {
    margin: 10px;
    padding: 20px;
    text-align: center;
    
}

.head {
   color: rgb(46, 85, 61);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   margin-bottom: 5px;
   background-color: lightcyan;
   font-size:xxx-large;
}

.ingr li {
    padding: 2px;
    list-style: none;
}

.head:hover {
color: red
;
}

button {
    width: 220px;
    height: 55px;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
}

.imagine
{
text-align: center;
}

.step {
    margin: 0px;
    padding: 0px;
    /* border: 2px solid black;
    background-color: antiquewhite; */

}
.list dd {
margin: 0px;
padding: 0px;
}

.linksb {
    background-color: rgb(243, 225, 233);
}

h1{
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613464981_27-p-fon-dlya-prezentatsii-v-narodnom-stile-38.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90px;
    border-radius: 80px;
    font-size: xx-large;
    color: red;
    border-radius: 90%;
    text-shadow: 40px;
    font-size: 50px; /* Розмір тексту */
    color: rgb(190, 9, 9); /* Колір тексту */
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
}