body {
    color: aliceblue;
    font-size: 160%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #37424d;
    margin: 0;
}

.game-board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    padding: 40px;
}
.color-button{
    border: 2px solid rgb(247, 247, 247);
    cursor: pointer;
    opacity: 0.2;
}

.color-button:active {
    opacity: 1;
}

#top-left {background-color: blue; border-top-left-radius: 100%;}
#top-right {background-color: yellow;border-top-right-radius: 100%;}
#left {background-color: red; border-bottom-left-radius: 100%;}
#right {background-color: green; border-bottom-right-radius: 100%;}

#start {
    background-color: red;
    color: white;
    height: 40px;
    width: 80px;
    cursor: pointer;
    font-size: 20px;
}
